*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 95%;
}
img{
    display: block;
    border: 1px solid rgb(169, 164, 164);
    box-shadow: 0 50px 60px rgb(134, 130, 130, .3);
    margin: 10px;
    width: 500px;
    height: auto;
    
}
h1, h2{
    text-align: center;
    background-color: rgb(42, 116, 165);
    padding: .5rem;
    margin: 1rem;
}
body{
    background-color: bisque;
}
