*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header, footer{
    text-align: center;
    padding: 1rem;
    background-color: #38045bce;
    margin-bottom: 1rem;
    color: white;
}

form label, em, input[type="submit"]{
    display: block;
    margin-top: 1rem;
}

.stars > label{
    margin: 0;
}

em{
    margin: 0;
}
.stars{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars > label:hover {
	color: lime;
}

.stars > label::before {
	content: "☆";
    margin: 1rem;
    font-size: large;
}

.stars input:checked ~ label::before {
	content: "★";
    margin: 1rem;
    font-size: large;
}

.stars input{
    display: none;
}

input[type="text"],
input[type="date"],
textarea,
select,
input[type="submit"]{
    max-width: 400px;
    width: 96%;
    padding: .4rem;
}

form{
    background-color: rgba(208, 165, 208, 0.2);
    padding: 1rem;
}

hr{
    margin-top: 1rem;
}

input:required:valid, select:required:valid{
    border-left: 10px solid green;
}

input:required, select:required{
    border-left: 10px solid red;
}

.stars:has(input:required){
    color: red;
}

.stars:has(input:required:valid){
    color: green;
}
body{
    max-width: 400px;
    margin: 0 auto;
}
.checkbox label{
    display: inline;
    margin-left: 2px;
}