*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{
  font-family: "Roboto", sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

header, footer{
    background-color: rgb(48, 9, 206);
    color: white;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
main{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 80%;
}

img{
    width: 100%;
    height: auto;
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	color: white;
}

#menu::before {
	content: "≡";
}
#menu.show::before{
    content: "X";
}
.apple{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: none;
}
.navigation.show{
    display: block;
    background-color: brown;
}
a:hover{
    background-color: rgb(48, 9, 206);
    border: 1px solid white;
    padding: .34rem;
    display: block;
}


